.App {
  text-align: center;
  height: 100%;
  line-height: 100vh;

  --time-font-size: calc(0.2 * var(--minor-axis));
  --label-font-size: calc(0.07 * var(--minor-axis));
  --button-size: calc(0.15 * var(--minor-axis));
  --button-margin: calc(0.01 * var(--minor-axis));
  --label-margin: calc(0.08 * var(--minor-axis));
  --label-child-margin: calc(0.02 * var(--minor-axis));
}

.App--white {
  background-color: #eee;
  color: #222;
}

.App--black {
  background-color: #222;
  color: #eee;
}

.Time {
  font-size: var(--time-font-size);
}

.Time--stopped {
  color: #a00;
}

.OpenPauseMenuButtonContainer,
.PauseMenu,
.ResetStoppedTimerButtonContainer {
  position: absolute;
  line-height: normal;
  top: 1vh;
  right: 1vw;
  width: calc(var(--button-size) + 2 * var(--button-margin));
}

.CircleButton {
  width: var(--button-size);
  height: var(--button-size);
  border-radius: var(--button-size);
  margin: var(--button-margin);
  outline: none;
  display: block;
  font-size: calc(0.5 * var(--button-size));
}

.App--white .CircleButton {
  border: 1px solid #d1d1d1;
  background-color: #fff;
  color: #222;
}

.App--black .CircleButton {
  border: 1px solid #333;
  background-color: #111;
  color: #eee;
}

.CircleButton--small-text {
  font-size: calc(0.3 * var(--button-size));
}

.TimerMenu {
  position: absolute;
  line-height: normal;
  top: 0;
  width: 100vw;
  height: 100vh;
  text-align: left;
}

.App--white .TimerMenu {
  background-color: #eee;
  color: #222;
}

.App--black .TimerMenu {
  background-color: #222;
  color: #eee;
}

.TimerMenu label,
.TimerMenu span {
  font-size: var(--label-font-size);
  display: block;
  margin: var(--label-margin);
}

.TimerMenu label input,
.TimerMenu span .CircleButton {
  display: inline;
  margin: var(--label-child-margin);
}

.TimerMenu label input {
  padding-left: 1vw;
  font-size: var(--label-font-size);
}

.App--white .TimerMenu label input {
  border: 1px solid #d1d1d1;
  background-color: #fff;
  color: #222;
}

.App--black .TimerMenu label input {
  border: 1px solid #333;
  background-color: #111;
  color: #eee;
}

.CloseTimerMenuButtonContainer {
  position: absolute;
  top: 1vh;
  right: 1vw;
}

.CloseTimerMenuButtonContainer .CircleButton {
  border: 1px solid #ddd;
  background-color: #800;
  color: #eee;
}
