body,
html,
#root {
  height: 100%;
  margin: 0;
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
}

@media (min-aspect-ratio: 1/1) {
  html {
    --major-axis: 100vw;
    --minor-axis: 100vh;
  }
}

@media (max-aspect-ratio: 1/1) {
  html {
    --major-axis: 100vh;
    --minor-axis: 100vw;
  }
}
